.statistics
  display flex
  justify-content space-between
  margin 0 0 60px 0

  &__item
    display flex
    flex-direction column
    align-items center
    margin-right 40px
    bounds()

    &:last-child
      margin-right 0

  &__item-title
    margin 0 0 10px 0
    font-size 20px
    color app_color_blue
    text-align center
    color app_color_brand
    text-transform uppercase
